.welcome{
    text-align: center;
    margin: 20px;
    color: black;
    font-family: 'Open Sans';
    font-weight: bold;
}

.city-form{
    text-align: center;
}

.label-text{
    color: black;
    font-family: 'Open Sans';
}

.city{
    border-radius: 10%;
}